[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "1.0.1"
python-keycloak = "4.2.0"
discord.py = "2.4.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
